body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    /* background:lightgray; */
  }
  
  header {
    background: #333;
  }
  
  
  h1 {
    padding: 10px 0;
    margin: 0;
    margin-top: 20px;
    font-size: 38px;
    color:  #0275d8;
    text-align: left;
  }
  
  h3 {
    padding: 10px 0;
    margin: 0;
    margin-top: 0px;
    font-size: 28px;
    color:  #0275d8;
    text-align: left;
  }
  
  p{
    padding:25px;
    color:black;
  }
  
  .col-md-6{
    background-color: white;
    height: 550px;
    width: 100px;
    padding: 60px;
    margin-top:60px;
    
    
  }
  
  .col-md-6 img{
    height: 220px;
    width: 220px;
    float: left;
  }
  
  
  .col-md-3{
    background-color:white;
    height: 530px;
    width: 100px;
    padding: 60px;
    margin-top:60px;
    
  }
  

  
  .navbar-brand{
    background-color: lightseagreen;
    color:white;
    padding: 25px;
    margin: 0px;
    font-size: 26px;
  }
  
  #new {
    background-color: white;
    height: 10450px;
    width: 1550px;
    margin-left:40px;
    margin-right:40px;
    margin-bottom:60px;
  }